# Ignoring *.md files
**/*.md

# Ignoring *.json files
**/*.json

# Ignoring *.bmp files
**/*.bmp

# Ignoring *.pcx files
**/*.pcx

# Ignoring *.txt files
**/*.txt

# Ignoring *.html files
**/*.html

# Ignoring *.css files
**/*.css

# Ignoting .* files
**/.*
